<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Thanks for filling the required data!</h2>
      <p class="text-center">
        If you click on the "Submit Order" button, your order will be submitted and shipped to your address.
      </p>
    </div>
  </div>
</div>


<div class="d-flex justify-content-between flex-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Back to review
  </button>
  <button class="btn btn-primary" (click)="submitOrder()">
    Submit order<i class="fa fa-angle-right"></i>
  </button>
</div>
