.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  background-color: #00bc8c;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: #00bc8c;
  }
}

.logo {
  cursor: pointer;
}

.btn.btn-outline-secondary.me-2:hover {
  color: #ffffff; 
  background-color: #00bc8c;
}


.btn.btn-outline-secondary.me-3:hover {
  color: #ffffff; 
  background-color: #375a7f;
}
