.btn.btn-outline-primary.py-2:hover {
  color: #ffffff; 
  background-color: #00bc8c;
  
}

.fa.fa-minus-circle.me-2 {
  color: #00bc8c;
}

.fa.fa-plus-circle.mx-2 {
  color: #00bc8c;
}

.fa.fa-trash {
  color: #00bc8c;
}