<carousel [isAnimated]="true">
  <slide>
    <img src="assets/images/freddie3.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/art.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/freddie2.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1 style="font-style: italic;">Welcome to Freddie's little Pet Store</h1>
  </div>
</section>

<footer>
  <p>&copy; 2023 Freddie's little Pet Store. All rights reserved.</p>
</footer>