<ng-container *ngIf="$any(bcService.breadcrumbs$ | async) as breadcrumbs">
  <section *ngIf="breadcrumbs[breadcrumbs.length - 1].label !== 'Home'" class="py-5 mb-4" style="margin-top: 105px; background-color: lightgray;">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-9" style="color: black;">
          <h1 style="font-style: italic;">{{breadcrumbs[breadcrumbs.length - 1].label | titlecase}}</h1>
        </div>
        <div class="col-3" style="color: black; font-size: 20px;">
         <xng-breadcrumb>
          <ng-container *xngBreadcrumbItem="let breadcrumb">
            {{breadcrumb | titlecase}}
          </ng-container>
         </xng-breadcrumb>
        </div>
      </div>
    </div>
  </section>  
</ng-container>


