.header-title {
  color: #00bc8c;
 
}

.list-group-item {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;


  &.active {
    border-radius: 10px;
  }

  &:not(.active):hover {
    color: #fff;
    background-color: #375a7f;
    border-radius: 10px;
  }

}